body{
    background-color: aquamarine;
    color: black;
    font-family: "Chelsea Market"; system-ui;
}

.cabecalho {
    background-color: blue;
    text-align: center    ;
    padding: 20px;
}
.cachorro-pirulito {
    width: 80px;
    height: 80px;
}