body{
    background-color: aquamarine;
    color: black;
    
}

.cabecalho {
    background-color: blue;
    text-align: center    ;
    padding: 20px;
}
.cachorro-pirulito {
    width: 80px;
    height: 80px;
}
main{
    background-color: white;
    color: black;
    max-width: 800px;
    margin: 0 auto;
    padding: 16px
}
article{
    display: flex;
}
.texto-post{
    margin-left: 40px;
}